<p-table
  [value]="patients"
  selectionMode="single"
  dataKey="id"
  (onRowSelect)="onRowSelect($event)"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Birthdate</th>
      <th>Gender</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-patient>
    <tr [pSelectableRow]="patient">
      <td>{{ patient.name }}</td>
      <td>{{ patient.surname }}</td>
      <td>{{ patient.birthday }}</td>
      <td>{{ patient.gender }}</td>
    </tr>
  </ng-template>
</p-table>
