.card-container {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.column-content {
  width: 240px;
}
